Source: ros-jazzy-ffmpeg-image-transport-tools
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-clang-format <!nocheck>, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-ros, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, libcv-bridge-dev, libsensor-msgs-dev, python3-cv-bridge, python3-sensor-msgs, ros-environment, ros-jazzy-ffmpeg-image-transport, ros-jazzy-ffmpeg-image-transport-msgs, ros-jazzy-rclcpp, ros-jazzy-rosbag2-cpp, ros-jazzy-rosbag2-storage, ros-sensor-msgs, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-ffmpeg-image-transport-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcv-bridge-dev, libsensor-msgs-dev, python3-cv-bridge, python3-sensor-msgs, ros-jazzy-ffmpeg-image-transport, ros-jazzy-ffmpeg-image-transport-msgs, ros-jazzy-rclcpp, ros-jazzy-rosbag2-cpp, ros-jazzy-rosbag2-storage, ros-sensor-msgs, ros-jazzy-ros-workspace
Description: tools for processing ffmpeg_image_transport_msgs
