Source: ros-jazzy-ffmpeg-image-transport-tools
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libopencv-imgproc-dev, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-black <!nocheck>, ros-jazzy-ament-cmake-clang-format <!nocheck>, ros-jazzy-ament-cmake-gtest <!nocheck>, ros-jazzy-ament-cmake-ros, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-cv-bridge, ros-jazzy-ffmpeg-encoder-decoder, ros-jazzy-ffmpeg-image-transport-msgs, ros-jazzy-rclcpp, ros-jazzy-rcutils, ros-jazzy-ros-environment, ros-jazzy-rosbag2-cpp, ros-jazzy-rosbag2-storage, ros-jazzy-sensor-msgs, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-ffmpeg-image-transport-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-imgproc-dev, ros-jazzy-cv-bridge, ros-jazzy-ffmpeg-encoder-decoder, ros-jazzy-ffmpeg-image-transport-msgs, ros-jazzy-rclcpp, ros-jazzy-rcutils, ros-jazzy-rosbag2-cpp, ros-jazzy-rosbag2-storage, ros-jazzy-sensor-msgs, ros-jazzy-ros-workspace
Description: tools for processing ffmpeg_image_transport_msgs
